<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.feedAustralia.android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" android:required="true"/>
    <uses-feature android:name="android.hardware.camera.any" android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    <application
        android:allowBackup="true"
        tools:replace="android:icon"
        android:icon="@drawable/appiconfarounded"
        android:label="@string/app_name"
        android:roundIcon="@drawable/appiconfarounded"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="InnerclassSeparator">
        <activity android:name="com.feedAustralia.android.Activity.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.feedAustralia.android.Activity.Login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustPan"/>

        <activity android:name="com.feedAustralia.android.Activity.Welcome"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustPan"/>
        <activity android:name="com.feedAustralia.android.Activity.ForgetActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.feedAustralia.android.Activity.LoginBackActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.feedAustralia.android.Activity.PrivacyPolicy"
            android:screenOrientation="portrait"/>
        <activity android:name="com.feedAustralia.android.Activity.ProfileMain"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.feedAustralia.android.Activity.Home"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name="com.feedAustralia.android.Activity.TermsOfService"
            android:screenOrientation="portrait"/>
        <activity android:name="com.feedAustralia.android.Activity.EditProfile"
            android:screenOrientation="portrait"/>
        <activity android:name="com.feedAustralia.android.Activity.MenuDescription"
            android:screenOrientation="portrait"/>
        <activity android:name="com.feedAustralia.android.Activity.RecipesDescription"
            android:screenOrientation="portrait"/>
    </application>
</manifest>